@charset "utf-8";
/* CSS Document */

body, td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;

}


.Logo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: #990000;
    text-align: center;
    border-bottom: 1px solid #8b0000;
    padding-bottom: 10px;

}

.Menu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #8b0000;
    padding-bottom: 10px;
    padding-top: 10px;
}

.Menu a, .Menu a:link, .Menu a:visited, .Menu a:active {
    text-decoration: none;
    color: #666666;

}

.Menu a:hover {
    text-decoration: underline;
    color: #990000;

}

.Overdue {
	color: #ff0000;
}